on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '30 5 * * *'
  pull_request:

name: Docker

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-images:
    name: Build Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    strategy:
      matrix:
        runtime:
          - name: gtk-nightly
            gtktag: main
            adwtag: main
          - name: gtk-4.10
            gtktag: 4.10.3
            adwtag: 1.3.2
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # seemed to be a cache workaround
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Login to GitHub Container Repository
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata for ${{ matrix.runtime.name }}
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            ${{ matrix.runtime.name }}
            
      - name: Write Dockerfile for ${{ matrix.runtime.name }}
        run: |
          sed -i 's/%GTKTAG%/${{matrix.runtime.gtktag}}/g' gtk4-cross-win/Dockerfile && sed -i 's/%ADWTAG%/${{matrix.runtime.adwtag}}/g' gtk4-cross-win/Dockerfile

      - run: |
          cat gtk4-cross-win/Dockerfile
          echo ${{ steps.meta.outputs.tags }}
      
      - name: Build / Push ${{ matrix.runtime.name }}
        uses: docker/build-push-action@v4
        continue-on-error: false
        with:
          context: ./gtk4-cross-win
          file: ./gtk4-cross-win/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
